* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* center canvas in body */
body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
}
canvas {
  width: 960px;
  height: 720px;
  background-color: black;
}
img {
  display: none;
}